{% load staticfiles %}

<div class="top-slider">

  
</div>


<div class="container-fluid middle">

  <!--Title-->
  <div class="row left middle-text">
      <div class="drive-search-title left" style="color: rgba(51,51,51,1);">
          <h1>Blood Cannot Be Made, Only Given.</h1>
      </div>
  </div>

  <!--Subtitle-->
  <div class="row middle-text">
      <div class="" style="color: rgba(51,51,51,1);">
         <h3> Blood only lasts 42 days and there’s no synthetic alternative.<br>
           Patients need your help. Book an appointment today.</h3> 
      </div>
  </div>

  <div class="row middle-text">
      <div class="" data-context="drivesearch">
          <input type="text" name="zip" placeholder="Zip/Sponsor Code" class="geo-location geo-complete-input" autocomplete="off" id="ziporsponsor" maxlength="50">
          

<div class="" data-context="redcross-button">

<a data-aa-link-button="" href="https://www.redcrossblood.org/give.html">
<button class=" ">
  <span class="contents">Make Your Appointment</span>
</button>
</a>



</div>
      </div>
  </div>

</div>



<!--top-slider-->